.custom-table{
    background-color: black !important;
    color: white !important;
}
.custom-checkbox{
    width: 20px;
    height: 20px;
    transform: scale(1.3);
    margin-top: 10px;
}
.custom-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::placeholder{
    font-size: small;
}
.search-contract-btn{
    border-radius: 50% !important;
    margin-top: 13px;
}
.small-label{
    font-size: small;
    font-weight: bold;
    color: #6d757d !important;
}
select option.small-text {
    font-size: 12px; /* Làm chữ nhỏ lại */
}
.custom-date-input{
    height: 45px !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: none !important;
    cursor: default ;
}
.readonly-input:hover,
.readonly-input:focus {
    cursor: default !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}