.customer-list .table th,
.customer-list .table td {
    text-align: center;
}

.customer-name-search{

    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}
.customer-id-search{
    margin-left: 20px;
}


