.footer {
    background-color: #009d3f;
    padding: 30px 0;
}

.footer .social-icons .fa {
    font-size: 20px;
    color: #343a40;
    margin-right: 10px;
}

.footer .social-icons .fa:hover {
    color: #007bff;
}

.footer .links .btn-link {
    color: #343a40;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer .links .btn-link:hover {
    color: #007bff;
}